.order-header {
	padding: 20rpx 25rpx 0 25rpx;
	background-color: #ffffff;
}

.order-item {
	font-size: 30rpx;
	color: #000000;
	margin-top: 20rpx;
}

.order-state {
	position: absolute;
	top: 35rpx;
	right: 25rpx;
	background-color: #eb3c39;
	color: #ffffff;
	padding: 10rpx;
	border-radius: 8rpx;
	font-size: 20rpx;
}

.order-geo {
	align-items: center;
	padding: 40rpx 25rpx;
	background-color: #ffffff;
}

.geo-box {
	width: 500rpx;
	margin-left: 50rpx;
	padding: 40rpx;
	text-align: center;
	border-width: 2rpx;
	border-style: dotted;
}

.geo-text {
	font-size: 50rpx;
	font-weight: bold;
	color: #DC0805;
}

.geo-name {
	font-size: 30rpx;
	margin-top: 10rpx;
	color: #555555;
}

.order-info {
	position: relative;
	background-color: #ffffff;
	margin-top: 20rpx;
	padding: 25rpx;
}

.info-item {
	font-size: 30rpx;
	color: #000000;
	margin-top: 20rpx;
}

.info-state {
	width: 505rpx;
	margin-left: 50rpx;
	background-color: #eb3c39;
	color: #ffffff;
	padding: 10rpx 40rpx;
	font-size: 35rpx;
	text-align: center;
}

.submit {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 750rpx;
	text-align: center;
	height: 100rpx;
	background-color: #eb3c39;
	font-size: 40rpx;
	color: #ffffff;
	line-height: 100rpx;
}

.order-main {
	padding-top: 0;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	padding-bottom: 25rpx;
	/* border-bottom: 2rpx solid #f0f0f0; */
	padding-left: 24rpx;
	padding-right: 24rpx;
}

.order-main .total-goods {
	text-align: center;
	padding-bottom: 20px;
}

.info-amount-font {
	font-size: 48rpx !important;
	color: #39ACEB !important;
	font-weight: 600 !important;
}

.order-main .goods-item {
	position: relative;
	height: auto;
	min-height: 160rpx;
	display: block;
	box-sizing: border-box;
	padding-bottom: 15rpx;
}

.order-main .goods-item .item-photo {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 160rpx;
	width: 160rpx;
	overflow: hidden;
}

.order-main .goods-item .item-photo image {
	width: 100%;
	height: 100%;
	background-color: rgb(247, 244, 244)
}

.order-main .goods-item .item-info {
	position: relative;
	display: block;
	height: 100%;
	min-height: 160rpx;
	box-sizing: border-box;
	margin-left: 200rpx;
	overflow: hidden;
}

.order-main .goods-item .item-info .info-name {
	position: relative;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	width: 70%;
	padding-right: 0 !important;
	box-sizing: border-box;
	color: #030303;
	font-size: 26rpx;
	font-weight: normal;
	text-align: left;
	line-height: 1.7;
}

.order-main .goods-item .item-info .info-attr {
	position: relative;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	width: 80%;
	box-sizing: border-box;
	color: #979797;
	font-size: 24rpx;
	font-weight: normal;
	text-align: left;
	line-height: 1.8;
}

.order-main .goods-item .item-info .info-price {
	position: absolute;
	left: 0rpx;
	bottom: 0;
	box-sizing: border-box;
	color: #030303;
	font-size: 26rpx;
	line-height: 30rpx;
}

.order-main .goods-item .item-info .info-amount {
	position: absolute;
	right: 0;
	top: 10%;
	margin-top: 0;
	color: #39ACEB;
	font-size: 48rpx;
	display: block;
	font-weight: 600;
}

.info-amount {
	right: 160rpx !important;
}

.btn {
	position: absolute;
	right: 0rpx;
	top: 10%;
	margin-top: 0;
	color: #39ACEB;
	font-size: 28rpx;
	display: block;
	font-weight: 600;
	height: 60rpx;
	width: 100rpx;
	line-height: 60rpx;
	background-color: #DC0805;
	text-align: center;
	color: #FFFFFF;
}
.active{
	color: black;
	background-color: #C8C7CC;
}
